@model List<DriverStanding>
@{
    ViewData["Title"] = "Standings";
}

<h1 class="mb-4">Driver Standings @ViewBag.Year</h1>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Pos</th>
            <th>Driver</th>
            <th>Code</th>
            <th>Wins</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var standing in Model)
        {
            <tr>
                <td>@standing.ChampionshipPosition</td>
                <td>@standing.FullName</td>
                <td>@standing.Code</td>
                <td>@standing.TotalWins</td>
                <td class="fw-bold text-danger">@standing.TotalPoints</td>
            </tr>
        }
    </tbody>
</table>
